@media screen and (min-width: 32rem) {
    .header-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        padding: 1rem 2rem;
    }

    #members {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        display: flex;
        justify-content: space-around;
        text-align: left;
    }
}

@media screen and (min-width: 64rem) {
    #members {
        grid-template-columns: repeat(3, 1fr);
    }
}